<% if (is_archive()){ %>
<div class="archives-container">
  <h3 class="is-size-6 has-text-centered has-text-weight-bold has-text-grey">
    <% if (site.posts.length == 1){ %>
      <%= __('post_total_count_one', site.posts.length) %>
    <% } else { %>
      <%= __('post_total_count', site.posts.length) %>
    <% } %>
  </h3>
  <section class="section">
  <% if (is_current("archives/", true)) { %>
    <% var last; %>
    <div class="section-container">
    <% site.posts.sort('-date').map(function(post, i){ %>
      <% var year = post.date.year(); %>
      <% if (last != year){ %>
        <% if (last != null) { %>
            </div>
          </div>
          <div class="section-container">
        <% } %>
        <h1 class="archive-article-header">
          <span class="icon archive-calendar-icon">
            <i class="fa fa-calendar-alt fa-lg"></i>
          </span>
          <span class="is-size-3 has-text-weight-bold"><%= year %></span>
        </h1>
      <% } %>
      <% last = year; %>
        <div class="archives">
          <%- partial('_partial/archive-post', {post: post, even: i % 2 == 0, index: true}) %>
    <% }) %>
    </div>
  <% } %>
  </section>
</div>
<% } %>


