<!DOCTYPE html>
<% if (site.categories.length){ %>
<div class="widget">
  <div class="tab"><%= __('Categories') %></div>
  <div class="is-size-6">
    <%- list_categories({show_count: theme.show_count}) %>
  </div>
</div>
<% } %>