<!DOCTYPE html>
<div>
  <figure class="image is-256by256 is-flex is-horizontal-center">
    <img id="profile" src="/img/profile.jpg" />
  </figure>
  <!--
  <div class="public-key">
    <a href="public.asc">&lt;public key&gt;</a>
  </div>
  -->
</div>

