<!DOCTYPE html>
<% if (site.posts.length){ %>
<div class="widget">
  <div class="tab">Recent Posts</div>
  <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
  <a href="<%- url_for(post.path) %>" title="<% post.title %>">
    <div class="level">
      <div class="level-item article">
        <figure class="media-left media-left-override">
          <p class="image is-48x48">
            <% if (post.photos != ""){ %>
            <img src="<%= post.photos[0] %>">
            <% } else { %>
            <img src="/img/logo.png">
            <% } %>
          </p>
        </figure>
        <div class="media-content">
          <p class="has-text-weight-bold article-title-widget overflow"><%= post.title || '(no title)' %></p>
          <footer class="is-size-7"><%= date(post.date, 'MMMM D, YYYY') %></footer>
        </div>
      </div>
    </div>
  </a>
  <% }) %>
</div>
<% } %>
