<% if (theme.social) { %>
<div class="level social-icons">
  <% Object.keys(theme.social).forEach(function(key) { %>
  <a class="level-item" href="<%= theme.social[key] %>">
    <span class="icon">
      <i class="fab fa-<%= key.toLowerCase() %> fa-lg"></i>
    </span>
  </a>
  <% }) %>
</div>
<% } %>
