<!DOCTYPE html>
<div class="level social-icons">
  <a class="level-item" href="https://linkedin.com/in/michaelthanh">
    <span class="icon">
      <i class="fab fa-linkedin fa-2x"></i>
    </span>
  </a>
  <a class="level-item" href="https://github.com/mvxt">
    <span class="icon">
      <i class="fab fa-github-square fa-2x"></i>
    </span>
  </a>
  <a class="level-item" href="https://medium.com/@michael.thanh">
    <span class="icon">
      <i class="fab fa-medium fa-2x"></i>
    </span>
  </a>
  <a class="level-item" href="https://www.youtube.com/channel/UCD9Vpco6dO5GfYOSmipwlvg">
    <span class="icon">
      <i class="fab fa-youtube-square fa-2x"></i>
    </span>
  </a>
</div>

