<!DOCTYPE html>
<% if (site.categories.length){ %>
<div class="widget">
  <div class="tab">
    <a href="/tags"><%= __('Tags') %></a>
  </div>
  <div class="is-size-7 tagcloud">
    <%- tagcloud({max_font: 15}) %>
  </div>
</div>
<% } %>