global-reset()

#app
  font-family 'Exo 2', Helvetica, Arial, sans-serif
  font-size 18px
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #2c3e50

nav.navbar
  border solid #333
  border-top-width 1px
  border-right-width 0px
  border-bottom-width 3px
  border-left-width 0px
  margin-bottom 1.5rem
  background-color #ffffff
  background-color rgba(255, 255, 255, 0)
  a:hover
    color #64171a

.category-list, .tagcloud, .archive-list
  padding-top 0.5rem

.category-list-item:before
  content: "> "

.category-list-child
  margin-left 1rem

.section-container
  margin-bottom 2rem

span
  &.archive-list-count
    &::before
      content " ("
    &::after
      content ")"
  &.category-list-count
    &::before
      content " ("
    &::after
      content ")"
  &.tag-list-count
    &::before
      content " ("
    &::after
      content ")"

.tab
  background-color inherit
  border solid #333
  border-top-width 0px
  border-right-width 0px
  border-bottom-width 3px
  border-left-width 0px
  padding 0.5rem 0 0.25rem 0.25rem

.widget
  padding-top 1rem

.offwhite-bg
  background-color #fcfcfc

.overflow
  overflow-wrap normal

.custom-footer
  width 100%
  padding-top 20px
  padding-bottom 10px
  align-self flex-end
  a
    text-decoration: underline

.menu-icons
  padding-right 15px

.public-key
  padding-top 15px

.social-icons
  padding-top 1.5rem
  margin-bottom 0

a.footer-social:not(:first-of-type)
  margin-left 10px

a
  &:link
    color black
  &:visited
    color black
  &:hover
    color #64171a

.is-horizontal-center
  justify-content center

.is-size-6-7
  font-size 0.9rem

.card
  border-radius 10px

.panel
  border-radius 10px

.page-enter-active, .page-leave-active
  transition all 0.25s

.page-enter, .page-leave-active
  opacity 0

.job-date
  font-style italic
  font-size 0.90rem

.job-skills
  font-style italic
  font-size 0.90rem

.list-item
  height 20px

.menu
  padding-top 15px

#hero-override
  padding-top 1.5rem
  padding-bottom 1.5rem

.media-left-override
  margin-right 8px

@import "_partial/insight"
@import "_partial/profile"
@import "_partial/article"
@import "_partial/archives"
@import "_partial/categories"
