<!DOCTYPE html>
<footer class="custom-footer has-text-centered is-hidden-touch is-size-6">
  Copyright &copy; <%= new Date().getFullYear(); %> Michael Vinh Xuan Thanh. Site built with <a href="https://hexo.io/">Hexo.io</a> and <a href="https://bulma.io/">Bulma</a>.
</footer>
