<!DOCTYPE html>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarItems">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarItems" class="navbar-menu">
    <div class="navbar-start">
      <% for (var i in theme.menu){ %>
      <a class="navbar-item" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
      <% } %>
    </div>

    <% if (theme.search.insight) { %>
    <div class="navbar-end">
      <div id="search-form-wrap" class="navbar-item field">
        <form class="control has-icons-left search-form">
          <input class="input is-rounded search-field" type="search" placeholder=" <%= __('Search website') %>..." title="Search">
          <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
          </span>
        </form>
      </div>
    </div>
    <%- partial('_partial/search') %>
    <% } %>
  </div>
</nav>
