<!DOCTYPE html>
<div>
  <figure class="image is-256by256 is-flex is-horizontal-center">
    <img id="profile" src="/img/profile.jpg" />
  </figure>
  <!--
  <div class="public-key">
    <a href="public.asc">&lt;public key&gt;</a>
  </div>
  -->
  <a href="https://linkedin.com/in/michaelthanh"><i class="fa fa-linkedin fa-2x social-icons"></i></a>
  <a href="https://github.com/mvxt"><i class="fa fa-github fa-2x social-icons"></i></a>
  <a href="https://www.youtube.com/channel/UCD9Vpco6dO5GfYOSmipwlvg"><i class="fa fa-youtube fa-2x social-icons"></i></a>
  <a href="https://medium.com/@michael.thanh"><i class="fa fa-medium fa-2x social-icons"></i></a>
</div>

