.archive-article-header
  margin-bottom: 20px
  
.archive-calendar-icon
  margin-right: 5px

.archive-article-entry
  margin-bottom: 15px
  display: flex

.archive-article-date
  margin-bottom: 0

.archive-article-title
  justify-content: left

.archive-article-separator
  border-right: 1px solid black
  height: 90%
